/node_modules
/public/hot
!/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
!/public/storage/galeria/
!/public/storage/news/
!/public/storage/slider/
!/public/thumbs/
!/public/uploads/
!/storage/app/public/galeria/
!/storage/app/public/news/
!/storage/app/public/slider/
!/public/galeria/
!/public/news/
!/public/slider/
